<div>
    <form [formGroup]="form" (submit)="agregarVenta()">
        <div class="container-input">
            <label for="vehiculo">Vehiculo</label>
            <input readonly [value]="vehiculo()?.marca + ' ' + vehiculo()?.modelo + ' ' + vehiculo()?.version">
        </div>

        <div class="container-input">
            <label for="cliente">Cliente</label>
            <select formControlName="clienteId">
                <option value="">Selecciona un cliente</option>
                @for (cli of clientes(); track cli.id) {
                <option [value]="cli.id">{{cli.nombre}} {{cli.apellido}} - {{cli.dni}}</option>
                }
            </select>
            @if (form.get('clienteId')?.invalid && form.get('clienteId')?.touched) {
                <span class="error-message">El cliente es obligatorio.</span>
            }
        </div>

        <div class="container-input">
            <label for="precio">Precio</label>
            <input [value]="vehiculo()?.precioVenta" type="number" formControlName="precioVenta">
            @if (form.get('precioVenta')?.touched && form.get('precioVenta')?.invalid) {
                @if (form.get('precioVenta')?.hasError('required') || form.get('precioVenta')?.value === 0) {
                    <span class="error-message">El precio de venta es obligatorio.</span>
                }
                @if (form.get('precioVenta')?.hasError('min')) {
                    <span class="error-message">El precio de venta debe ser mayor a 0.</span>
                }
            }
        </div>

        <button type="submit">
            Vender vehiculo
        </button>
    </form>
</div>