<div class="container-auto-form">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="container-select">
            <label for="marca-select">Marca</label>
            <select formControlName="marca" (change)="onMarcaChange()">
                <option value="">Selecciona una marca</option>
                @for (m of marcas(); track m) {
                <option [value]="m">{{m}}</option>
                }
            </select>
            @if (form.get('marca')?.invalid && form.get('marca')?.touched) {
            <span class="error-message">La marca es obligatoria.</span>
            }
        </div>

        <div class="container-select">
            <label for="modelo-select">Modelo</label>
            <select formControlName="modelo" (change)="onModeloChange()">
                <option value="">Selecciona un modelo</option>
                @for (mod of modelos(); track mod) {
                <option [value]="mod">{{mod}}</option>
                }
            </select>
            @if (form.get('modelo')?.invalid && form.get('modelo')?.touched) {
            <span class="error-message">El modelo es obligatorio.</span>
            }
        </div>

        <div class="container-select">
            <label for="año-select">Año</label>
            <select formControlName="anio" (change)="onAnioChange()">
                <option [value]="0">Selecciona un año</option>
                @for (an of anios(); track an) {
                <option [value]="an">{{an}}</option>
                }
            </select>
            @if (form.get('anio')?.touched && form.get('anio')?.invalid) {
            @if (form.get('anio')?.hasError('required') || form.get('anio')?.value === 0) {
            <span class="error-message">El año es obligatorio.</span>
            }@else if (form.get('anio')?.hasError('min')) {
            <span class="error-message">El año debe ser válido (mayor a 1900).</span>
            }
            }
        </div>

        <div class="container-select">
            <label for="submodelo-select">Version</label>
            <select formControlName="idTrim">
                <option value=0>Selecciona la version</option>
                @for (sub of submodelos(); track sub.id) {
                <option [value]="sub.id">{{sub.description}}</option>
                }
            </select>
            @if (form.get('idTrim')?.invalid && form.get('idTrim')?.touched) {
            <span class="error-message">La versión es obligatoria.</span>
            }
        </div>

        <div class="container-input">
            <label for="precio-input">Precio de compra</label>
            <input type="number" id="precio-input" placeholder="Precio" formControlName="precioCompra">
            @if (form.get('precioCompra')?.touched && form.get('precioCompra')?.invalid) {
            @if(form.get('precioCompra')?.hasError('required') || form.get('precioCompra')?.value === 0) {
            <span class="error-message">El precio de compra es obligatorio.</span>
            }
            }
        </div>

        <div class="container-input">
            <label for="precio-input">Precio de venta</label>
            <input type="number" id="precio-input" placeholder="Precio" formControlName="precioVenta"
                [class.input-error]="form.hasError('precioInvalido') && form.get('precioVenta')?.touched">
            @if (form.get('precioVenta')?.touched) {
                @if (form.get('precioVenta')?.hasError('required') || form.get('precioVenta')?.value === 0) {
                <span class="error-message">
                    El precio de venta es obligatorio.
                </span>
                }@else if (form.hasError('precioInvalido')) {
                <span class="error-message">
                    El precio de venta debe ser mayor al precio de compra.
                </span>
                }
            }
        </div>

        <div class="container-input">
            <label for="kilometraje-input">Kilometraje</label>
            <input type="number" id="kilometraje-input" placeholder="" formControlName="kilometraje">
            @if (form.get('kilometraje')?.invalid && form.get('kilometraje')?.touched) {
            <span class="error-message">El kilometraje es obligatorio.</span>
            }
        </div>

        <div class="container-input">
            <label for="patente-input">Patente</label>
            <input type="text" id="patente-input" placeholder="ABC123/AA111AA" formControlName="patente" [class.input-error]="mensajeError()"
                (blur)="validarPatente($event)">
            @if (form.get('patente')?.touched) {
            @if(form.get("patente")?.hasError('pattern')){
            <span class="error-message">Formato invalido</span>
            }@else if (form.get("patente")?.hasError('required')) {
            <span class="error-message">La patente es obligatoria</span>
            }@else if (mensajeError()) {
            <span class="error-message">{{mensajeError()}}</span>
            }
            }

        </div>
        <div class="container-input">
            <label for="color-input">Color</label>
            <input type="text" id="color-input" placeholder="" formControlName="color">
            @if (form.get('color')?.invalid && form.get('color')?.touched) {
            <span class="error-message">El color es obligatorio.</span>
            }
        </div>

        <div class="container-input">
            <label for="descripcion-input">Descripcion</label>
            <input type="text" id="descripcion-input" placeholder="" formControlName="descripcion">
        </div>

        <app-image-upload [imagenesExistentes]="imagenesActuales()"
            [id]="id"
            (eliminarImagenExistente)="eliminarImagen($event)"></app-image-upload>

        <button type="submit" [disabled]="form.invalid">{{isEditable ? "Actualizar auto" : "Agregar auto"}}</button>
    </form>
</div>