.container-card {
    display: flex;
    flex-direction: column;
}

.container-header-card{
    border-bottom: 1px solid var(--color-border-muted);
}

.container-info-vehiculo {
    padding: 10px;
}

.marca-modelo-vehiculo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-muted);
    padding: 0 0 10px 0
}

.precio-kilometraje-vehiculo {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-border-muted);
    padding: 10px 0 10px 0
}

.patente-fecha-vehiculo{
    padding: 10px 0 0 0
}

.marca {
    text-transform: uppercase;

}

p {
    color: var(--color-text-primary);
}
