<div class="container-form">
    <form [formGroup]="form" class="formulario" (submit)="crearTaller()">

        <div class="container-input">
            <label for="nombre">Nombre</label>
            <input type="text" formControlName="nombre">
        </div>

        <div class="container-input">
            <label for="direccion">Direccion</label>
            <input type="text" formControlName="direccion">
        </div>

        <div class="container-select">
            <label for="especialidad">Especialidad</label>
            <select formControlName="especialidad">
                <option value="">Selecciona una especialidad</option>

                @for (e of especialidades(); track e.name) {
                <option [value]="e.name">{{e.label}}</option>
                }
            </select>
        </div>

        <div class="container-select">
            <label for="encargado">Encargado del taller</label>

            <select formControlName="idEncargadoTaller">
                <option value="0">Selecciona un encargado</option>
                @for (e of encargados(); track e.id) {
                <option [value]="e.id">{{e.nombre}} {{e.apellido}}</option>
                }
            </select>
        </div>

        <button type="submit" [disabled]="form.invalid">
            Agregar taller
        </button>
    </form>
</div>