<div class="page">
    <div class="form-container">
        <div class="form-header">
            <div class="divTitulo">
                <span class="nombreEncabezado">AutoPremium</span>
                <span class="subnombreEncabezado">Carga de Usuario</span>
            </div>
        </div>

        <form [formGroup]="form" (submit)="agregarAuto()">
            <div class="form-grid">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" formControlName="nombre">

                    @if(form.get("nombre")?.touched){
                    @if (form.get("nombre")?.hasError("required")) {
                    <span class="error-message">
                        El nombre es obligatorio.
                    </span>
                    }
                    }
                </div>

                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" formControlName="apellido">

                    @if(form.get("apellido")?.touched){
                    @if (form.get("apellido")?.hasError("required")) {
                    <span class="error-message">
                        El apellido es obligatorio.
                    </span>
                    }
                    }
                </div>

                <div>
                    <label for="dni">DNI</label>
                    <input type="text" formControlName="dni" (input)="validarDni($event)" [class.input-error]="errorDni()">

                    @if(form.get("dni")?.touched){
                    @if (form.get("dni")?.hasError("required")) {
                    <span class="error-message">
                        El dni es obligatorio.
                    </span>
                    }@else if (form.get("dni")?.hasError("pattern")) {
                    <span class="error-message">
                        El dni debe ser mayor a 1.000.000 y menor a 99.999.999
                    </span>
                    }@else if (errorDni()) {
                        <span class="error-message">
                            {{errorDni()}}
                        </span>
                    }
                    }
                </div>

                <div>
                    <label for="rol">Rol</label>
                    <select formControlName="rol">
                        <option value="">Selecciona un rol</option>
                        @for (rol of roles(); track rol.name) {
                        <option [value]="rol.name">{{rol.label}}</option>
                        }
                    </select>

                    @if(form.get("rol")?.touched){
                    @if (form.get("rol")?.hasError("required")) {
                    <span class="error-message">
                        El rol es obligatorio.
                    </span>
                    }
                    }
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" (input)="validarEmail($event)" [class.input-error]="errorEmail()">

                    @if(form.get("email")?.touched){
                    @if (form.get("email")?.hasError("required")) {
                    <span class="error-message">
                        El email es obligatorio.
                    </span>
                    }@else if(form.get("email")?.hasError("email")){
                    <span class="error-message">
                        El email no tiene el formato valido.
                    </span>
                    }@else if (errorEmail()) {
                        <span class="error-message">
                            {{errorEmail()}}
                        </span>
                    }
                    }
                </div>

                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" formControlName="password">

                    @if(form.get("password")?.touched){
                    @if (form.get("password")?.hasError("required")) {
                    <span class="error-message">
                        La contraseña es obligatorio.
                    </span>
                    }@else if(form.get("password")?.hasError("minlength")){
                    <span class="error-message">
                        La contraseña debe tener al menos 5 caracteres.
                    </span>
                    }
                    }
                </div>
            </div>

            <button type="submit" [disabled]="form.invalid">
                <span>Cargar en el sistema</span>
            </button>
        </form>
    </div>
</div>