.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

header {
    height: 100%;
    background-color: var(--color-bg-shell);
    position: sticky;
    z-index: 100;
    top: 0;
}

.sidebar {
    width: 250px;
    height: 100%;
}

main {
    background-image: linear-gradient(rgba(14, 14, 14, 0.7),
            rgba(15, 15, 15, 0.7)),
        url("Assets/background.png");
    background-size: cover;
    flex: 1;
    /*Ocupa el resto de la pantalla*/
}

@media (max-width: 768px) {
    .app-container {
        overflow-y: auto;
    }

}