.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

header {
    height: 100vh;
    background-color: var(--color-bg-shell);
    position: sticky;
    top: 0;
}

.sidebar {
    width: 250px;
    height: 100%;
}

main {
    flex: 1;/*Ocupa el resto de la pantalla*/
}
