section {
    color: white;
    width: 100%;
    padding: 20px;
}

section > div{
    margin-bottom: 20px;
}

.resumen-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.resumen-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.material-symbols-outlined{
 font-size: 20px;
    color: rgb(180, 180, 180);
    margin-right: 8px;
}

.container-title-section{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-section{
    color: rgb(180, 180, 180);
    font-weight: 500;
}

.resumen-header a {
    color: rgba(111, 146, 189);
}

.resumen-cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.accesos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.card-acceso {
    border: 1px solid rgba(255, 255, 255, .07);
    border-radius: 10px;
    background-color: #13131e;
    padding: 15px;
    cursor: pointer;
}

.card-acceso:hover {
    border: 1px solid rgba(255, 255, 255, .13);
        border-radius: 10px;
}