<div class="container-vehiculos">
    <div class="header-vehiculos">
        <div class="container-acciones">
            <div class="container-buscador">
                <span class="material-symbols-outlined">
                    search
                </span>
                <input type="text" placeholder="Buscador" (input)="buscarVehiculo($event)" [value]="buscador()">
            </div>

            <div class="container-filtros">
                <select (change)="onEstadoChange($event)">
                    <option value="">Todos</option>
                    @for (e of estados(); track e.name) {
                    <option [value]="e.name">{{e.label}}</option>
                    }
                </select>
            </div>
        </div>

        <div class="add-vehiculo">
            <a routerLink="/vehiculos/nuevo">
                <span class="material-symbols-outlined">
                    add
                </span>
                Agregar vehículo</a>
        </div>
    </div>

    <div class="container-list-vehiculos">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="vehiculo">
                <th mat-header-cell *matHeaderCellDef dat> VEHICULO </th>
                <td mat-cell *matCellDef="let v" data-titulo="VEHICULO">
                    <div>
                        <div class="info-vehiculo">
                            {{v.marca}} {{v.modelo}}
                        </div>
                        <div class="anio-vehiculo">
                            {{v.anio}}
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> TIPO </th>
                <td mat-cell *matCellDef="let v" data-titulo="TIPO">
                    <span class="tipo-vehiculo">{{v.tipo.toLowerCase()}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="patente">
                <th mat-header-cell *matHeaderCellDef> PATENTE </th>
                <td mat-cell *matCellDef="let v" data-titulo="PATENTE"> {{v.patente}} </td>
            </ng-container>

            <ng-container matColumnDef="precioCompra">
                <th mat-header-cell *matHeaderCellDef> PRECIO DE COMPRA </th>
                <td mat-cell *matCellDef="let v" data-titulo="PRECIO DE COMPRA"> {{v.precioCompra | currency:'USD':'symbol':'1.0-0' }} </td>
            </ng-container>

            <ng-container matColumnDef="precioVenta">
                <th mat-header-cell *matHeaderCellDef> PRECIO DE VENTA </th>
                <td mat-cell *matCellDef="let v" data-titulo="PRECIO DE VENTA"> {{v.precioVenta | currency:'USD':'symbol':'1.0-0' }} </td>
            </ng-container>

            <ng-container matColumnDef="kilometraje">
                <th mat-header-cell *matHeaderCellDef> KILOMETRAJE </th>
                <td mat-cell *matCellDef="let v" data-titulo="KILOMETRAJE"> {{v.kilometraje | number}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> ESTADO </th>
                <td mat-cell *matCellDef="let v" data-titulo="ESTADO" class="columna-estado">
                    <span class="estado-vehiculo" [class]="'estado-' + v.estado.name.toLowerCase()">{{v.estado.label}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let v">
                    @if (v.estado.name.toLowerCase()=="disponible") {
                    <div class="container-acciones-v">
                        @if(rol.toLowerCase()==="admin"){

                        <button class="button-accion" (click)="abrirModal(v.id); $event.stopPropagation()">
                            <span class="material-symbols-outlined">
                                build
                            </span>
                            <span>Asignar a taller</span>
                        </button>


                        <button class="button-accion" (click)="eliminarVehiculo(v.id); $event.stopPropagation()"><span
                                class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                        }
                        <button class="button-accion" (click)="modificarVehiculo(v); $event.stopPropagation()">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </button>

                        <button class="button-vender" (click)="venderVehiculo(v.id); $event.stopPropagation()">
                            <span>Vender</span>
                            <span class="material-symbols-outlined">
                                attach_money
                            </span>
                        </button>

                    </div>
                    }
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="verDetalle(row)"></tr>
        </table>

        <div>
            <mat-paginator #paginator [length]="vehiculos().length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>