<div class="container-ventas">
  <div class="header-ventas">
    <div class="container-acciones">
      @if (authService.isAdmin()) {
      <h3>EMPLEADO</h3>
      <select (change)="onEncargadoChange($event)">
        <option value="">Todos</option>
        @for (e of empleados(); track e.id) {
        <option [value]="e.id">{{e.nombre}} {{e.apellido}}</option>
        }
      </select>
      }
    </div>

    <div class="fechas_container">
      <form [formGroup]="filtroFechas" class="fechas" (submit)="buscarVentas()">

        <div class="calendario_container">
          <div class="calendario_container">
            <label for="fecha-desde" class="calendario_desde">Desde</label>
            <input type="date" id="fecha-desde" formControlName="fechaDesde">
          </div>

          <div class="calendario">
            <label for="fecha-hasta" class="calendario_hasta">Hasta</label>
            <input type="date" id="fecha-hasta" formControlName="fechaHasta">
          </div>
        </div>

        <button type="submit" [disabled]="filtroFechas.invalid" class="btn_calendario">
          Buscar
        </button>
      </form>
      <div>
        @if (errorFechas()) {
        <p class="text-red-500 text-sm mt-2">{{ errorFechas() }}</p>
        }
      </div>
    </div>
  </div>

  <div class="kpi-container">

    <div class="kpi-card">
      <span>Total ventas</span>
      <strong>{{ cantidadVentas() }}</strong>
    </div>

    <div class="kpi-card">
      <span>{{authService.isAdmin() ? "Ingresos" : "Total generado"}}</span>
      <strong>{{totalIngresos() | currency:'USD':'symbol':'1.0-0' }}</strong>
    </div>

    <div class="kpi-card">
      <span>{{authService.isAdmin() ? 'Ganancia' : 'Promedio por venta'}}</span>
      <strong class="positivo">{{(authService.isAdmin() ? totalGanancia() : promedioVenta()) |
        currency:'USD':'symbol':'1.0-0' }}</strong>
    </div>
  </div>

  <div class="container-list-ventas">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="vehiculo">
        <th mat-header-cell *matHeaderCellDef> VEHICULO </th>
        <td mat-cell *matCellDef="let v" data-titulo="VEHÍCULO"> {{v.vehiculo.marca}} {{v.vehiculo.modelo}}</td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> CLIENTE </th>
        <td mat-cell *matCellDef="let v" data-titulo="CLIENTE"> {{ v.cliente.nombre}} {{ v.cliente.apellido }} </td>
      </ng-container>

      @if(authService.isAdmin()){
      <ng-container matColumnDef="vendedor">
        <th mat-header-cell *matHeaderCellDef> VENDEDOR </th>
        <td mat-cell *matCellDef="let v" data-titulo="VENDEDOR"> {{ v.vendedor.nombre }} {{ v.vendedor.apellido }}</td>
      </ng-container>

      <ng-container matColumnDef="precioCompra">
        <th mat-header-cell *matHeaderCellDef> PRECIO DE COMPRA </th>
        <td mat-cell *matCellDef="let v" data-titulo="PRECIO DE COMPRA"> {{v.vehiculo.precioCompra | currency:'USD':'symbol':'1.0-0' }} </td>
      </ng-container>
      }

      <ng-container matColumnDef="precioVenta">
        <th mat-header-cell *matHeaderCellDef> PRECIO DE VENTA </th>
        <td mat-cell *matCellDef="let v" data-titulo="PRECIO DE VENTA" class="precio precio-venta"> {{ v.precioFinalDeVenta | currency:'USD':'symbol':'1.0-0' }}</td>
      </ng-container>

      @if (authService.isAdmin()) {
      <ng-container matColumnDef="ganancia">
        <th mat-header-cell *matHeaderCellDef> GANANCIA </th>
        <td mat-cell *matCellDef="let v" data-titulo="GANANCIA" class="precio" [class]='v.ganancia > 0 ? "positivo" : "negativo"'> {{
          v.ganancia | currency:'USD':'symbol':'1.0-0' }}</td>
      </ng-container>
      }

      <ng-container matColumnDef="fechaVenta">
        <th mat-header-cell *matHeaderCellDef> FECHA DE VENTA </th>
        <td mat-cell *matCellDef="let v" class="fecha" data-titulo="FECHA DE VENTA"> {{ v.fechaVenta | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tr-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-row"></tr>
    </table>

    <div>
      <mat-paginator #paginator [length]="ventas().length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>