<div class="container-ventas">
  <div class="header-ventas">
    <div class="container-acciones">

      <div class="container-buscador">
        <span class="material-symbols-outlined">
          search
        </span>
        <input type="text" placeholder="Buscar ventas">
      </div>

      @if (authService.isAdmin()) {
      <select (change)="onEncargadoChange($event)">
        <option value="">Todos</option>
        @for (e of empleados(); track e.id) {
        <option [value]="e.id">{{e.nombre}} {{e.apellido}}</option>
        }
      </select>
      }
    </div>
  </div>

  <div class="kpi-container">

    <div class="kpi-card">
      <span>Total ventas</span>
      <strong>{{ cantidadVentas() }}</strong>
    </div>

    <div class="kpi-card">
      <span>{{authService.isAdmin() ? "Ingresos" : "Total generado"}}</span>
      <strong>{{totalIngresos() | currency:'USD':'symbol':'1.0-0' }}</strong>
    </div>

    <div class="kpi-card">
      <span>{{authService.isAdmin() ? 'Ganancia' : 'Promedio por venta'}}</span>
      <strong class="positivo">{{(authService.isAdmin() ? totalGanancia() : promedioVenta()) |
        currency:'USD':'symbol':'1.0-0' }}</strong>
    </div>
  </div>

  <div class="container-list-ventas">
    <table>
      <thead>
        <tr>
          <th>VEHÍCULO</th>
          <th>CLIENTE</th>
          @if(authService.isAdmin()){
          <th>VENDEDOR</th>
          }
          <th>PRECIO VENTA</th>
          @if (authService.isAdmin()) {
          <th>GANANCIA</th>
          }
          <th>FECHA</th>
        </tr>
      </thead>

      <tbody>
        @for (venta of ventas(); track venta.id) {
        <tr>

          <td>
            <div class="info-vehiculo">
              {{ venta.vehiculo.marca }} {{ venta.vehiculo.modelo }}
            </div>
          </td>
          <td>{{ venta.cliente.nombre}} {{ venta.cliente.apellido }}</td>

          @if(authService.isAdmin()){
          <td>{{ venta.vendedor.nombre }} {{ venta.vendedor.apellido }}</td>
          }

          <td class="precio">{{ venta.precioFinalDeVenta | currency:'USD':'symbol':'1.0-0' }}</td>

          @if (authService.isAdmin()) {
          <td class="precio" [class]='venta.ganancia > 0 ? "positivo" : "negativo"'>{{ venta.ganancia |
            currency:'USD':'symbol':'1.0-0' }}</td>
          }

          <td>{{ venta.fechaVenta | date:'dd/MM/yyyy' }}</td>
        </tr>
        }
      </tbody>

    </table>
  </div>
</div>