<nav>
    <div class="nav-header">
        <span class="material-symbols-outlined toys">toys</span>
        <div>
            <h1>AutoPremium</h1>
            <p>Sistema interno</p>
        </div>
    </div>

    <hr>

    <div class="nav-content">

        <div class="nav-section">
            <p>PRINCIPAL</p>

            <ul>
                <li>
                    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <span class="nav-label">Inicio</span>
                    </a>
                </li>
                @if (authService.isAdmin() || authService.isEmpleado()) {
                <li>
                    <a routerLink="/vehiculos" routerLinkActive="active">
                        <span class="material-symbols-outlined">
                            directions_car
                        </span>
                        <span class="nav-label">Vehiculos</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="authService.isAdmin() ? '/ventas' : '/mis-ventas'" routerLinkActive="active">
                        <span class="material-symbols-outlined">
                            analytics
                        </span>
                        <span class="nav-label">{{authService.isAdmin() ? 'Ventas' : 'Mis ventas'}}</span>
                    </a>
                </li>
                }
            </ul>
        </div>

        @if (authService.isAdmin() || authService.isEncargado()) {
        <div class="nav-section">
            <p>TALLER</p>

            <ul>
                <li>
                    <a [routerLink]="authService.isAdmin() ? '/talleres' : '/mis-talleres'" routerLinkActive="active">
                        <span class="material-symbols-outlined">
                            handyman
                        </span>
                        <span class="nav-label">{{authService.isAdmin() ? 'Talleres' : 'Mis talleres'}}</span>
                    </a>
                </li>

                @if(authService.isAdmin()){
                <li>
                    <a href="">
                        <span class="material-symbols-outlined">
                            build
                        </span>
                        <span class="nav-label">Reparaciones</span>
                    </a>
                </li>
                }
            </ul>
        </div>
        }

        @if (authService.isAdmin() || authService.isEmpleado()) {
        <div class="nav-section">
            <p>GESTION</p>

            <ul>
                @if(authService.isAdmin()){
                <li>
                    <a routerLink="/users" routerLinkActive="active">
                        <span class="material-symbols-outlined">
                            group
                        </span>
                        <span class="nav-label">Usuarios</span>
                    </a>
                </li>
                }
                @if (authService.isEmpleado() || authService.isAdmin()) {
                <li>
                    <a routerLink="">
                        <span class="material-symbols-outlined">
                            identity_platform
                        </span>
                        <span>
                            Clientes
                        </span>
                    </a>
                </li>
                }
            </ul>
        </div>
        }
    </div>
    <hr>

    <div class="container-perfil" (click)="toggleMenuUser()">

        @if (menuUserOpen) {
        <div class="menu-abierto-user">
            <button (click)="authService.logout()">Cerrar sesion</button>
        </div>
        }

        <p class="logo-user">{{getIniciales()}}</p>

        <div>
            <h3 class="name-user">{{capitalizarNombre(authService.getNombreCompleto())}}</h3>
            <p class="rol-user">{{authService.getRol()}}</p>
        </div>
    </div>

</nav>