nav {
    color: white;
    width: 250px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, .07);

}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

hr {
    color: rgba(255, 255, 255, .07);
    margin: 15px -20px;
}

.nav-header>div {
    display: flex;
    flex-direction: column;

    margin: 0;
}

.nav-header>div h1 {
    font-weight: 600;
}

.nav-header>div p {
    color: rgb(180, 180, 180);
    font-size: 13px;
    font-weight: 600;
}

.toys {
    font-size: 19px;
    background-color: rgba(99, 102, 241);
    padding: 10px;
    border-radius: 10px;
}

.nav-content {
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-section>p {
    color: rgb(85, 85, 85);
    font-size: 14px;
    font-weight: 600;
}

.nav-section ul {
    margin: 0;
    padding: 0;
}

.nav-section li span {
    font-size: 18px;
    font-weight: 500;
}

.nav-section li {
    color: rgb(146, 146, 146);
    transition: background-color 0.2s, color 0.2s;
}

.nav-section li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 16px;
    gap: 5px;
}

.nav-section li:hover {
    background-color: rgba(20, 20, 24);
    color: rgb(219, 219, 219);
    border-radius: 8px;
}